<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IronOcean</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="http://lvh.me:3000/">Iron Ocean</a>,
  <a href="http://blog.lvh.me:3000/">Blogs</a>,
  <a href="http://admin.lvh.me:3000/">Admin</a> -
  <% if current_user %>
    <%= link_to "Log Out", session_path("current"), method: "delete" %>
  <% else %>
    <%= link_to "Login", new_session_path %>
  <% end %>
  -
  <a class="visible-xs">Mobile</a><a class="visible-sm">Tablet</a><a class="visible-md visible-lg">Monitor</a>

  <%= yield %>
</body>
</html>
